@import "../utils/box-shadox.scss";
@import "../utils/zoom.scss";
@import "../utils/colors.scss";

/*Explorer*/
.Explorer {
  text-align: center;
  background-color: #f8f5f5;
  padding: 20px 30px;

  & button{
    color: white;
    font-size: small;
    font-weight: bold;
    padding: 15px 30px;
    margin: 30px 0 30px 0;
    border: none;
    border-radius: 30px;
    background-image : linear-gradient(to left top,#9356DC ,#FF79DA ); 
    @include shadow;
    filter: brightness(.8);
    transition:filter 0.5s ease; 
    &:hover{
      @include zoom;
      filter: brightness(1);
      cursor: pointer;
    }
  }
}
/*Loader*/
.loader{
  background-color:hsl(200, 23%, 97%);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  opacity: .9;
  display:flex ;
  align-items: center;
  justify-content: center;
  animation:disappear 2s ;
  animation-fill-mode:forwards;
  animation-delay: 5s;
  span {
    display: inline-block;
    vertical-align: middle;
    width: .6em;
    height: .6em;
    margin: .19em;
    background:$pink;
    border-radius: .6em;
    animation: loader 1s infinite alternate;
  }
  span:nth-of-type(2) {
    background:$check-bachground;
    animation-delay: 0.2s;
  }
  span:nth-of-type(3) {
    background: $purple;
    animation-delay: 0.4s;
  }
  span:nth-of-type(4) {
    background:$pink;
    animation-delay: 0.6s;
  }
  span:nth-of-type(5) {
    background:$check-bachground;
    animation-delay: 0.8s;
  }
  span:nth-of-type(6) {
    background: $purple;
    animation-delay: 1.0s;
  }
  span:nth-of-type(7) {
    background: $pink;
    animation-delay: 1.2s;
  }

}
@keyframes loader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}