@import"../utils/animations.scss";
$anim-dur:1s;
$anim-delay: $anim-dur / 5;

main{
    margin: 0;  
}
header{
    position: relative;
     i{
        position:absolute;
        display: flex; 
        top:35%;
        left:20px;  
        font-weight: 12px;
    } 
}

.restaurant{  
    img {
    width:100%;
    max-height: 300px;
    object-fit: cover;
    display: block; 
    }  
}
.menu{
    background-color:rgba(249, 247, 247, 0.991);
    width: 70%;
    margin: auto;
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    position: relative;
    .restaurant__name {
        font-family: "shrikhand";
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        padding: 0;
       
        .heart__icon{
            .fill {
                font-size:25px;
                font-weight: 5px;
                padding-right:10px;
                cursor: pointer;
                &:hover {
                background-image : linear-gradient(to left top,#9356DC ,#FF79DA ); 
                -webkit-background-clip: text;
                color: transparent;
                font-weight: bold;
                }
            }
        }
        
    }
    
    @media (max-width : 768px){
        padding: 20px;
        width: 100%;
        margin-bottom: 0px;
        .menu_carte_item {
            margin-bottom: 40px;
        }
    }
    .menu_carte_item {
        h3{
            position: relative;
            font-weight: normal;
            font-size: 16px;
           &::after{
               content: "";
               height: 3px;
               width: 35px;
               left:0;
               top:20px;
               margin-top: 5px;
               background-color:$check-bachground ;
               position: absolute;
            } 
        }
        
        .card__item{
            background-color: white;
            margin: 25px 0px 15px 0px;
            padding:0;
            border-radius: 10px;
            display: flex;
            @include shadow;
            overflow: hidden;/***caché le check***/
            white-space: nowrap;/*les passages à la ligne automatiques sont supprimés.*/
            animation: appearance $anim-dur;
            animation-fill-mode: both;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: $anim-delay * $i;
                 }
            }
            
            .card__description{ 
                padding: 10px;
                overflow: hidden;
                white-space: nowrap;
                p{
                    padding-top: 3px;
                    font-size: 14px;
                }
                h4,p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }  
            }
            .card__price{
                font-size: 14px;
                font-weight: bold;
                margin-left: auto;
                display: flex;
                align-items: flex-end;
                padding:10px 20px 10px 10px; 
            }
            .card__check{
                background-color: $check-bachground;
                width: 50px;
                margin-right:-50px; 
                display: flex; 
                align-items: center;
                justify-content: center;
                transition: all 1s;
                .fas{
                    color: white;
                }
            }
            
           &:hover {
               cursor: pointer;
               .card__check{
                   margin-right: 0px;
               }
                .fas{
                    @include spin-check;
                    animation: spin-check 1s;
                    animation-play-state: running;
                }
           } 
        }
    }
   padding: 20px;
   margin-bottom: 50px;
}
.order{
    
    text-align: center;
    & button{
        color: white;
        font-size: small;
        font-weight: bold;
        padding: 15px 45px;
        margin: 0px 0 50px 0;
        border: none;
        border-radius: 30px;
        background-image : linear-gradient(to left top,#9356DC ,#FF79DA ); 
        @include shadow;
        &:hover{
            @include zoom;
            cursor: pointer;
        }
    }
    @media (max-width : 768px){
        background-color:rgba(249, 247, 247, 0.991);
    }
}
